extends layout

block content
  h1 TechRetail Solutions

  p Bienvenido al panel principal del sistema.

  h2 Módulo disponible

  .card
    h3 Comercios
    p Gestión de comercios adheridos a la plataforma.

    ul
      li
       a(href="/comercios/vista") Ver listado de comercios

      li
        a(href="/comercios/nuevo") Registrar nuevo comercio